extends accountBase

block accountBaseContent
  .user-view__content
    .user-view__form-container
      h2.heading-secondary.ma-bt-md Tus datos
      form.form.form-user-data
        .form__group
          label.form__label(for='firstName') Nombre
          input#firstName.form__input(type='text', value=`${user.firstName}`, required, name='firstName')
        .form__group
          label.form__label(for='lastName') Apellido
          input#lastName.form__input(type='text', value=`${user.lastName}`, required, name='lastName')  
        .form__group.ma-bt-md
          label.form__label(for='email') Correo electrónico
          input#email.form__input(type='email', value=`${user.email}`, required, name='email')
        .form__group.ma-bt-md
          label.form__label(for='travelAgencyName') Número de celular 
          input#phoneNumber.form__input(type='number', value=`${user.phoneNumber}`, name='phoneNumber', required)
        .form__group
          img.form__user-photo(src=`/img/users/${user.photo}`, alt='User photo' id="userPhoto")
          // this input allow us to upload imagenes, the name attribute is photo because its 
          // the name of the field in the User document and it's use by multer
          label(for='photo' class="form__label") Actualizar foto
          input.form_upload(type='file', accept='image/*', id='photo', name='photo' class='form__photo__button')
        .form__group.right
          button.btn.btn--small.btn--green Guardar cambios

      .line &nbsp;
      h2.heading-secondary.ma-bt-md Seguridad
      
      div(class="center" style="display: none;")
        .overlay
        .content
          button(id="close"  style="float: right;") x
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Contraseña actual
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') Nueva contraseñas
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8', autocomplete="none")
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirmar contraseña
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8', autocomplete="none")
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-password Guardar contraseña
      br
      button(id="show" class="btn btn--small btn--green") Cambiar contraseña
      br
      br
      


            
